
.navbar-nav .nav-item .nav-link:hover {
    text-decoration: underline;
 
    color: rgb(36, 195, 36);
    font-weight: bold; 
  }

  .navbar-nav .nav-item .nav-link {
    font-weight: normal; 
    margin-bottom: 20px;
  }
  